:root{
    --Uorange: #F55C0A;
    --Ublack: #121212;
    --Ugrey: #808080;
    --Uwhite: #f5f5f5;
    --Uhorange: #ff9861;
    --Ulgrey: #D7D7D7;
}

html{
    overflow-x: hidden;
}

body {
    display: flex;
    font-family: "Inter", sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    background-color: var(--Ublack);
    padding: 0.35em;
    border-radius: 0px 0px 20px 20px;
    box-sizing: border-box;
    z-index: 200;
}

.mobile-nav{
    display: none;
}

.mobile-menu{
    display: none;
}

.logo-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 40px;
    margin-left: 20px;
}

.logo {
    height: 30px;
}

.logo-txt{
    margin: 0px;
    text-decoration: none;
    color: inherit;
    font-family: "Righteous", sans-serif;
    color: var(--Uorange);
    font-weight: 500;
    padding: 10px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-right: 20px;
    padding-left: 0px;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
    color: var(--Uwhite);
}

.seperator{
    color: var(--Ugrey) !important;
    font-size: 30px;
    font-weight: 100;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: color 100ms;
}

.nav-links li a:hover {
    color: var(--Ugrey);
}

.nav-links li button{
    text-decoration: none;
    padding: 0.5em 1.2em;
    font-size: 16px;
}

.sec-btn{
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--Uorange);
    border-radius: 25px;
    border: 0px solid var(--Uorange);
    box-shadow: inset 0 0 0 2px var(--Uorange);
    color: var(--Uwhite);
    transition: box-shadow 100ms, color 100ms, border-color 100ms;
}

.sec-btn:hover{
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--Uhorange);
    box-shadow: inset 0 0 0 2px var(--Uhorange);
    border-radius: 25px;
    color: #ffc7a9;
}

.pri-btn{
    background-color: var(--Uorange);
    color: var(--Uwhite);
    border-radius: 25px;
    border: 0px solid var(--Uorange);
    transition: background-color 100ms, box-shadow 100ms;
    font-weight: 500;
}

.pri-btn:hover{
    background-color: var(--Uhorange);
    color: var(--Uwhite);
    border-radius: 25px;
}

.sidebar {
    position: fixed;
    top: 250px;
    left: 0;
    width: 30px;
    border-radius: 0px 30px 30px 0px;
    background-color: var(--Ublack);
    padding: 12px 14px 12px 10px;
     /*  top right bottom left  */
    z-index: 180;
}

.sidebar-links {
    list-style-type: none;
    padding: 0em;
}

.sidebar-links li {
    margin-bottom: 16px;
}

.sidebar-links li a {
    text-decoration: none;
    color: #333;
}

.sidebar-links li a img{
    width: 32px;
}

.sidebar-link.active img {
    filter: brightness(0) saturate(100%) invert(60%) sepia(100%) saturate(1800%) hue-rotate(-15deg) brightness(110%) contrast(105%);
    /* The above filter applies an orange color to the SVG */
    box-shadow: 0 0 10px 5px rgba(255, 152, 97, 0.6); /* Orange glow effect */
}

.sidebar-links li a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 2vh;
    width: 100vw;
    justify-content: center;
}

.work-bar{
    background-color: var(--Ublack);
    border-radius: 20px;
    width: 100%;
    padding-left: 42px;
    box-sizing: border-box;
    margin-top: -20px;
}

.wb11{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.wb11 h1{
    padding: 20px;
    padding-right: 5px;
    padding-bottom: 4px;
}

.wb12{
    display: flex;
}

.wb12 a{
    padding-left: 20px;
    padding-bottom: 20px;
}

.ttm{
    height: 24px;
    padding-top: 36px;
}

.des-txt{
    color: var(--Ugrey);
    text-decoration: none;
    margin: 0px;
    font-size: 12px;
    padding: 0px;
}

.sec2{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-title{
    align-self: center;
    color: var(--Uorange);
    font-size: 40px;
    z-index: 20;
}

.whole{
    display: flex;
    justify-content: center;
}

.hztl{
    display: flex;
    flex-direction: column;
}

.work-box1{
    width: 200px;
    height: 175px;
    background-color: var(--Ugrey);
    top: 45%;
    left: 45%;
    margin: 10px;
    border-radius: 32px;
    padding-top: 20px;
    cursor: pointer;
}

.work-box1:hover .wbimg img{
    transform: scale(1.2);
}

.wbimg img{
    transition: transform 100ms;
}

.wbimg{
    width: 80%;
    height: 60%;
    margin: 20px;
    margin-top: 0px;
    border-radius: 15px;
    border: 2px solid black;
    overflow: hidden;
}

.work-box1 img{
    height: 100%;
}

.work-box1 p{
    color: var(--Uwhite);
    margin-left: 22px;
    font-size: 20px;
    font-weight: 700;
}

.work-box2{
    width: 200px;
    background-color: var(--Uorange);
    height: 312px;
    top: 45%;
    left: 45%;
    margin: 10px;
    border-radius: 32px;
    padding-top: 0.02px;
    cursor: pointer;
}

.work-box2:hover .wbimg2 img{
    transform: scale(1.2);
}

.wbimg2{
    width: 80%;
    height: 67%;
    margin: 20px 0px 10px 20px;
    border-radius: 15px;
    border: 2px solid black;
    overflow: hidden;
}

.wbimg2 img{
    transition: transform 100ms;
}

.work-box2 img{
    height: 100%;
    left: -130%;
}

.work-box2 p{
    margin-top: 0px;
    color: var(--Ublack);
    margin-left: 22px;
    font-size: 16px;
    font-weight: 700;
}

.hztl2{
    width: 300px;
}

.work-box3{
    text-decoration: none;
    width: 280px;
    height: 520px;
    border: 3px solid var(--Ublack);
    top: 45%;
    left: 32.6%;
    margin: 10px;
    border-radius: 32px;
    cursor: pointer;
}

.wbimg3{
    width: 84%;
    height: 58%;
    margin: 20px 0px 10px 20px;
    border-radius: 15px;
    border: 2px solid black;
    overflow: hidden;
}

.wbimg3 img{
    transition: transform 100ms;
}

.work-box3:hover .wbimg3 img{
    transform: scale(1.2);
}

.work-box3 img{
    width: 138%;
    left: -20%;
}

.work-box3 h1{
    color: var(--Ublack);
    font-size: 16px;
    margin-left: 22px
}

.work-box3 p{
    margin-top: 0px;
    color: var(--Ugrey);
    margin-left: 22px;
    font-size: 12px;
}

.btn-container{
    padding-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feat-cont-btn{
    border: none;
    background-color: var(--Uorange);
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    cursor: pointer;
    transition: background-color 100ms;
}

.feat-cont-btn:hover{
    background-color: var(--Uhorange);
}

.feat-cont-btn img{
    margin: 0px;
    margin-left: 12px;
    margin-right: -6px;
    height: 20px;
}

.work-box4{
    width: 200px;
    background-color: var(--Ulgrey);
    height: 312px;
    cursor: pointer;
    border: 3px solid var(--Ublack);
    top: 45%;
    left: 45%;
    margin: 10px;
    border-radius: 32px;
}

.work-box4:hover .wbimg4 img{
    transform: scale(1.2);
}

.wbimg4 img{
    transition: transform 100ms;
}

.wbimg4{
    width: 80%;
    height: 67%;
    margin: 20px 0px 10px 20px;
    border-radius: 15px;
    border: 2px solid black;
    overflow: hidden;
}

.work-box4 img{
    top: -20%;
    width: 100%;
}

a .proj-ti{
    margin-top: 0px;
    color: var(--Ublack);
    margin-left: 22px;
    font-size: 16px;
    font-weight: 700;
    width: 84%;
}

.work-box5{
    width: 200px;
    background-color: var(--Ublack);
    height: 188px;
    top: 45%;
    left: 45%;
    margin: 10px;
    border-radius: 32px;
    padding-top: 0.02px;
    cursor: pointer;
}

.work-box5:hover .wbimg5 img{
    transform: scale(1.2);
}

.wbimg5 img{
    transition: transform 100ms;
}

.wbimg5{
    width: 80%;
    height: 67%;
    margin: 20px 0px 5px 20px;
    border-radius: 15px;
    border: 2px solid black;
    overflow: hidden;
}

.work-box5 img{
    top: -20%;
    left: -2%;
    width: 105%;
}

.work-box5 p{
    margin-top: 0px;
    color: var(--Uwhite);
    margin-left: 40%;
    font-size: 20px;
    font-weight: 700;
    width: 84%;
}

.sec4{
    width: 100vw;
}

.CnC{
    color: var(--Ublack);
}

.work-bar3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    z-index: -325;
}

.wb22{
    text-decoration: none;
    color: var(--Uorange);
    font-weight: 900;
    font-family: "Cutive Mono", monospace;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}

.cont-top{
    display: grid;
    grid-template-columns: 1fr 1fr 5.4fr;
    width: 130.5vw;
    /* Must be a fault with the grid! Check it well */
}

.cont-quo{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1rem;
    gap: 10px;
    justify-content: space-evenly;
    border: 0.1px solid var(--Ugrey);
    border-left: 0;
}

.cont-quo img{
    height: 5vw;
    margin-right: -0.7rem;
}

.cont-quo p{
    color: var(--Ugrey);
    text-align: end;
    font-size: 1.7rem;
}

.create{
    color: var(--Ublack);
    font-weight: 500;
}

.cont-img{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    justify-content: space-evenly;
    border: 0.1px solid var(--Ugrey);
}

.cont-img img{
    height: 10vw;
}

.cont-img p{
    text-align: center;
    margin: 1%;
    font-weight: 600;
    font-size: 14px;
    color: var(--Uorange);
}

.cont-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 68%;
}

.c11{
    border: 0.1px solid var(--Ugrey);
    border-top: 1.5px solid var(--Ugrey);
    border-bottom: 1.5px solid var(--Ugrey);
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: var(--Ugrey);
}

.c11 a{
    text-decoration: none;
    color: var(--Ublack);
    font-size: 28px;
}

.c11 img{
    width: 48px;
    height: 48px;
}

.cont-bot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.bot-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 64px;
}

.sick{
    width: 25px;
    margin-left: 10px;
}

.logo-txt2{
    text-decoration: none;
    font-size: 24px !important;
}

.cont-bot img{
    height: 30px;
}

.cont-bot p{
    margin: 0px;
    margin-left: 10px;
    font-family: "Righteous",sans-serif;
    font-size: 20px;
    color: var(--Uorange);
}

.foot-link{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.foot-link li{
    margin-right: 40px;
}

.foot-link li a{
    text-decoration: none;
    font-weight: 300;
    color: var(--Ugrey);
    font-size: 1rem;
}

.foot-link a img{
    height: 18px;
    margin-left: 4px;
}

.hdes{
    display: flex;
    align-items: center;
}

.hardes{
    color: var(--Ublack);
    font-weight: 500;
}

@media (max-width: 767px) {
    html {
        font-size: 12px;
    }

    .navbar{
        display: none;
    }

    .mobile-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        position: fixed;
        background-color: var(--Ublack);
        padding: 0.35rem;
        border-radius: 0px 0px 20px 20px;
        z-index: 100;
        box-sizing: border-box;
        padding-right: 20px;
    }

    .close-icon{
        width: 48px;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .mobile-menu{
        background-color: var(--Ublack);
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 100%;
        right: 0;
        z-index: 299;
        transition: all 200ms ease;
    }

    .mobile-menu.active{
        left: 0;
    }

    .nav-links{
        margin-top: 25vh;
        height: 50vh;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .sidebar{
        top: 35vh;
    }

    .sec2{
        height: 300vh;
    }

    .whole{
        flex-direction: column;
    }

    .work-box3{
        width: 200px;
    }

    .sec4{
        height: 64vh;
        justify-content: end;
    }

    .cont-top{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .cont-quo{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 50vw;
    }

    .cont-quo p{
        font-size: 1.2rem !important;
    }

    .cont-quo img{
        margin-right: 0;
    }

    .cont-img{
        grid-column: 2/3;
        grid-row: 1/2;
        width: 50vw;
    }

    .cont-links{
        width: 100vw;
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .c11{
        height: 70px;
    }

    .cont-bot{
        height: auto;
        padding-top: 14vh;
        padding-bottom: 14vh;
    }

    .foot-link{
        padding-top: 2vh;
        padding-left: 10vw;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:824px){

    .c11 p{
        display: none;
    }
}

@media (max-width: 1024px){
    html{
        font-size: 14px;
    }

    .sec2{
        height: 130vh;
    }

    .cont-bot{
        margin-bottom: 2vh;
    }
}