:root{
    --Uorange: #F55C0A;
    --Ublack: #121212;
    --Ugrey: #808080;
    --Uwhite: #f5f5f5;
    --Uhorange: #ff9861;
    --Ulgrey: #D7D7D7;
}

html{
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    font-family: "Inter", sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    margin-right: 12px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: var(--Ublack);
    padding: 0.35rem;
    border-radius: 0px 0px 20px 20px;
    z-index: 100;
    box-sizing: border-box;
}

.logo-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 40px;
    margin-left: 20px;
}

.logo {
    height: 30px;
}

.logo-txt{
    margin: 0px;
    text-decoration: none;
    color: inherit;
    font-family: "Righteous", sans-serif;
    color: var(--Uorange);
    font-weight: 500;
    padding: 10px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    padding-right: 20px;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
    color: var(--Uwhite);
}

.ont{
    width: 20px;
    margin-left: 4px;
}

.ont:hover{
    opacity: 50%;
}

.nav-links li button{
    text-decoration: none;
    padding: 0rem 0.8rem;
    font-size: 1rem;
}

.seperator{
    color: var(--Ugrey) !important;
    font-size: 30px;
    font-weight: 100;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 100ms;
    display: flex;
}

.nav-links li a:hover {
    color: var(--Ugrey);
}

.nav-links li button{
    text-decoration: none;
    padding: 0rem 0.8rem;
    font-size: 1rem;
}

.sec-btn{
    background-color: transparent;
    border-color: var(--Uorange);
    border-radius: 25px;
    border: 0px solid var(--Uorange);
    box-shadow: inset 0 0 0 2px var(--Uorange);
    color: var(--Uwhite);
    transition: box-shadow 100ms, color 100ms, border-color 100ms;
}

.sec-btn:hover{
    border-color: var(--Uhorange);
    box-shadow: inset 0 0 0 3px var(--Uhorange);
    color: #ffc7a9;
}

.pri-btn{
    background-color: var(--Uorange);
    color: var(--Uwhite);
    border-radius: 25px;
    border: 0px solid var(--Uorange);
    transition: background-color 100ms, box-shadow 100ms;
    font-weight: 500;
}

.pri-btn:hover{
    background-color: var(--Uhorange);
    border-radius: 25px;
}

.sidebar {
    position: fixed;
    top: 40vh;
    width: 52px;
    border-radius: 0px 24px 24px 0px;
    background-color: var(--Ublack);
    padding: 12px 14px 12px 10px;
     /*  top right bottom left  */
     z-index: 200;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-links li a img{
    width: 32px;
}

.sidebar-link.active img {
    box-shadow: 0 0 10px 5px rgba(255, 152, 97, 0.8);
}

.content {
    width: 100%;
}

.intro-sec{
    background-image: linear-gradient(to bottom, var(--Uwhite), var(--Uorange));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    height: 87vh;
}

.main-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.land-text{
    display: flex;
    max-width: 50%;
    flex-direction: column;
    align-items:flex-start;
    gap: 20px;
}

.main-intro-image{
    pointer-events: none;
    width:  320px;
    height: 320px;
    border-radius: 200px;
    outline: 5px solid var(--Uorange);
    padding: 5px;
}

.designation{
    font-size: 1rem;
    font-weight: 500;
    color: var(--Uwhite);
}

.main-name{
    margin: 0px;
    font-size: 4.5rem;
    font-weight: 900;
    color: var(--Ublack);
    transform: translate(0%, 0%);
}



.wb11 h1{
    padding: 20px 0px 20px 0px;
}

.wb111{
    display: flex;
    align-items: center;
    text-decoration: none;
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

.wb12{
    display: flex;
}

.wb12 a{
    padding-left: 20px;
    padding-bottom: 20px;
}

.sec-title{
    display: inline-block;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
    color: var(--Uwhite);
    margin: 0px;
    font-size: 20px;
    font-family: "Cutive Mono", monospace;
}

.sec-title span{
    display: inline-block;
    padding-right: 20px; /* Ensure smooth looping */
}

@keyframes marquee{
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

.sec-title2{
    color: var(--Uwhite);
    font-family: "Cutive Mono", monospace;
    font-size: 36px;
    font-weight: 900;
}

.work-bar{
    background-color: var(--Ublack);
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: 100px;
    height: 80px;
    box-sizing: border-box;
    margin-top: -20px;
    z-index: 200;
}

.sec2{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hztl{
    display: flex;
    gap: 3vh;
}

.whole{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
    align-items: center;
}

.work-box1{
    width: 40vh;
    height: 40vh;
    background:  radial-gradient(rgba(255, 152, 97, 0.7), rgba(255, 118, 45, 0.7), rgba(245, 92, 10, 0.7)), /* Translucent color overlay */
    url('assets/Images/UdGN InD.jpg') center center/cover no-repeat;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 100ms ease;
}

.work-box1:hover{
    box-shadow: -4px -4px 0px var(--Uwhite),-12px -12px 0px var(--Uorange);
}

.work-box2{
    width: 40vh;
    height: 40vh;
    background:  radial-gradient(#dfdfdfea, rgba(245, 245, 245, 0.9)), /* Translucent color overlay */
    url('assets/Images/ux-indonesia-pqzRfBhd9r0-unsplash.jpg') center center/cover no-repeat;
    border: 3px solid var(--Ublack);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 100ms ease;
}

.work-box2 a{
    text-decoration: none;
}

.work-box2:hover{
    box-shadow: 4px -4px 0px var(--Uwhite),12px -12px 0px var(--Ugrey);
}

.work-box3{
    width: 40vh;
    height: 40vh;
    background:  radial-gradient(rgba(158, 158, 158, 0.7), rgba(18, 18, 18, 0.5), rgba(18, 18, 18, 0.7)), /* Translucent color overlay */
    url('assets/Images/2.png') center center/cover no-repeat;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: outline 100ms ease;
}

.work-box3 a{
    text-decoration: none;
}

.work-box3:hover{
    box-shadow: -4px 4px 0px var(--Uwhite),-12px 12px 0px var(--Uhorange);
}

.work-box4{
    width: 40vh;
    height: 40vh;
    background-color: var(--Ulgrey);
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 100ms ease;
}

.work-box4 a{
    text-decoration: none;
}

.work-box4:hover{
    box-shadow: 4px 4px 0px var(--Uwhite), 9px 9px 0px var(--Ublack);
}

.work-p{
    font-size: 2.4rem;
    font-weight: bold;
}

.work-pw{
    text-decoration: none;
    color: var(--Uwhite);
    font-size: 2.4rem;
    font-weight: bold;
}

.sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18vh;
    height: 100vh;
    width: 100%;
}

.work-bar2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Ublack);
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 20px;
}

.ttm2{
    margin-left: 7px;
    width: 32px;
}

.sec-title3{
    color: var(--Uwhite);
    margin: 0px;
    margin-top: 8px;
    font-size: 24px;
}

.ttm21{
    margin-top: 10px;
    margin-left: 5px;
}

.feat-cont{
    display: flex;
    gap: 20px;
}

.feat-cont1{
    display: inline-block;
    background-color: var(--Ulgrey);
    border-radius: 24px;
    height: 56vh;
    width: 20vw;
    padding: 20px;
}

.feat-desc{
    width: 100%;
    color: var(--Ugrey);
    font-size: 14px;
    margin: 18px 5px 0px 5px;
}

.feat-cont-img{
    width: 100%;
    height: 50%;
    border-radius: 12px;
    border: 2px solid var(--Ublack);
    object-fit: cover;
    overflow: hidden;
}

.feat-cont-img img{
    transition: transform 100ms;
}

.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.feat-cont1:hover .feat-cont-img img{
    transform: scale(1.1);
}

.feat-cont-txt{
    margin-left: 5px;
    min-height: 16vh;
    margin-top: 24px;
    width: 100%;
}

.feat-cont-txt a{
    max-width: 100%;
    text-align: left;
    text-decoration: none;
    color: var(--Ublack);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-container{
    display: flex;
    justify-content: end;
}

.btn-container a{
    text-decoration: none;
    color: var(--Ublack);
    font-size: 14px;
    font-weight: 700;
}

.feat-cont-btn{
    border: none;
    background-color: var(--Uorange);
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 100ms;
}

.feat-cont-btn:hover{
    background-color: #ff7e39;
}

.feat-cont-btn img{
    margin-right: 5px;
    height: 20px;
}

.sec4{
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.CnC{
    color: var(--Ublack);
}

.work-bar3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    z-index: -325;
}

.wb22{
    text-decoration: none;
    color: var(--Uorange);
    font-weight: 900;
    font-family: "Cutive Mono", monospace;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}

.cont-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-top{
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 104%;
}

.cont-quo{
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: end;
    gap: 10px;
    justify-content: space-evenly;
    border: 0.1px solid var(--Ugrey);
    border-bottom: 1.5px solid var(--Ugrey);
    border-top: 1.5px solid var(--Ugrey);
    border-left: 0px;
    width: 14vw;
    /* width: 28%; */
}

.cont-quo img{
    height: 5vw;
    margin-right: -10px;
}

.cont-quo p{
    color: var(--Ugrey);
    text-align: end;
    font-size: 28px;
}

.create{
    color: var(--Ublack);
    font-weight: 500;
}

.cont-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    justify-content: space-evenly;
    border: 0.1px solid var(--Ugrey);
    border-bottom: 1.5px solid var(--Ugrey);
    border-top: 1.5px solid var(--Ugrey);
    /* width: 30%; */
}

.cont-img img{
    height: 10vw;
}

.cont-img p{
    text-align: center;
    margin: 1%;
    font-weight: 600;
    font-size: 14px;
    color: var(--Uorange);
}

.cont-links{
    width: 68%;
    height: 100%;
}

.r1{
    height: 50%;
    display: flex;
}

.c11{
    border: 0.1px solid var(--Ugrey);
    border-top: 1.5px solid var(--Ugrey);
    border-bottom: 1.5px solid var(--Ugrey);
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: var(--Ugrey);
}

.c11 a{
    text-decoration: none;
    color: var(--Ublack);
    font-size: 28px;
}

.c11 img{
    width: 48px;
    height: 48px;
}

.cont-bot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
}

.bot-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 64px;
}

.sick{
    width: 25px;
    margin-left: 10px;
}

.logo-txt2{
    text-decoration: none;
    font-size: 24px !important;
}

.cont-bot img{
    height: 30px;
}

.cont-bot p{
    margin: 0px;
    margin-left: 10px;
    font-family: "Righteous",sans-serif;
    font-size: 20px;
    color: var(--Uorange);
}

.foot-link{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.foot-link li{
    margin-right: 40px;
}

.foot-link li a{
    text-decoration: none;
    font-weight: 300;
    color: var(--Ugrey);
    font-size: 1rem;
}

.foot-link a img{
    height: 18px;
    margin-left: 4px;
}

.hdes{
    display: flex;
    align-items: center;
}

.hardes{
    color: var(--Ublack);
    font-weight: 500;
}

/* Small devices (smaller than 768px) */
@media (max-width: 767px) {
    html {
        font-size: 15px; /* Adjust base font size */
    }

    aside{
        position: fixed;
        top: 40vh;
    }

    .cont1{
        background-image: linear-gradient(to bottom, var(--Uwhite), var(--Uorange));
        display: flex;
        justify-content: center;
        align-items: center;
        height: 88vh;
    }
    
    .main-section{
        display: flex;
        gap: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-intro-image{
        pointer-events: none;
        width:  30vh;
        height: 30vh;
        border-radius: 24vh;
        outline: 5px solid var(--Uorange);
        padding: 5px;
    }

    .land-text{
        max-width: 100%;
        align-items: center;
    }

    .main-name{
        text-align: center;
        width: 400px;
        font-size: 2.4rem;
        font-weight: 900;
        color: var(--Ublack);
    }

    .designation{
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        color: var(--Uwhite);
    }
}

@media (max-width: 1100px){
    html{
        font-size: 16px;
    }

    .logo-link{
        margin: 0;
        padding-left: 24px;
    }

    .nav-links li{
        margin-left: 10px;
    }

    .intro-sec{
        padding: 0px 100px;
        height: 91vh;
    }

    .main-section{
        flex-direction: column;
    }

    .land-text{
        max-width: 100%;
        align-items: center;
    }

    .main-name{
        text-align: center;
    }

    .designation{
        text-align: center;
    }

    .work-box1{
        width: 30vh;
        height: 30vh;
    }

    .work-box2{
        width: 30vh;
        height: 30vh;
    }

    .work-box3{
        width: 30vh;
        height: 30vh;
    }

    .work-box4{
        width: 30vh;
        height: 30vh;
    }

    .work-pw{
        font-size: 2.4rem;
    }

    .work-p{
        font-size: 2.4rem;
    }

    .sec3{
        height: 182vh;
        gap: 5vh;
    }

    .feat-cont{
        flex-direction: column;
    }

    .feat-cont1{
        height: 40vh;
        width: 50vw;
        padding-bottom: 35px;
    }

    .feat-cont-img{
        height: 70%;
    }

    .feat-cont-txt{
        min-height: 0vh;
    }

    .sec4{
        height: 27vh;
    }

    .cont-div{
        width: 110%;
    }

    .cont-top{
        position: relative;
        left: -5.4%;
        height: 20vh;
    }

    .cont-quo{
        width: 0px;
        opacity: 0;
        border: 0px;
    }

    .cont-bot{
        height: 7vh;
    }

    .bot-logo{
        margin-left: 20px;
    }

    .foot-link{
        margin-right: 40px;
    }

    .foot-link li a{
        font-size: 0.8rem;
    }
}