@font-face {
    font-family: 'Apple Garamond';
    src: url('./assets/FontFiles/apple_garamond/AppleGaramond.woff2') format('woff2'),
         url('./assets/FontFiles/apple_garamond/AppleGaramond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apple Garamond';
    src: url('./assets/FontFiles/apple_garamond/AppleGaramond-Bold.woff2') format('woff2'),
         url('./assets/FontFiles/apple_garamond/AppleGaramond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Apple Garamond';
    src: url('./assets/FontFiles/apple_garamond/AppleGaramond-Italic.woff2') format('woff2'),
         url('./assets/FontFiles/apple_garamond/AppleGaramond-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Apple Garamond';
    src: url('./assets/FontFiles/apple_garamond/AppleGaramondLight.woff2') format('woff2'),
         url('./assets/FontFiles/apple_garamond/AppleGaramondLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Apple Garamond';
    src: url('./assets/FontFiles/apple_garamond/AppleGaramondLight-Italic.woff2') format('woff2'),
         url('./assets/FontFiles/apple_garamond/AppleGaramondLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Apple Garamond';
    src: url('./assets/FontFiles/apple_garamond/AppleGaramond-BoldItalic.woff2') format('woff2'),
         url('./assets/FontFiles/apple_garamond/AppleGaramond-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

:root{
    --Uorange: #F55C0A;
    --Ublack: #121212;
    --Ugrey: #808080;
    --Uwhite: #f5f5f5;
    --Uhorange: #ff9861;
    --Ulgrey: #D7D7D7;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: var(--Ublack);
    padding: 0.35em;
    border-radius: 0px 0px 20px 20px;
    z-index: 100;
    box-sizing: border-box;
}

.logo-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 40px;
    margin-left: 20px;
}

.logo {
    height: 30px;
}

.logo-txt{
    margin: 0px;
    text-decoration: none;
    color: inherit;
    font-family: "Righteous", sans-serif;
    color: var(--Uorange);
    font-weight: 500;
    padding: 10px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    padding-right: 20px;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
    color: var(--Uwhite);
}

.ont{
    width: 20px;
    margin-left: 4px;
}

.ont:hover{
    opacity: 50%;
}

.nav-links li button{
    text-decoration: none;
    padding: 0em 0.8em;
    font-size: 16px;
}

.seperator{
    color: var(--Ugrey) !important;
    font-size: 30px;
    font-weight: 100;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: color 100ms;
    display: flex;
}

.nav-links li a:hover {
    color: var(--Ugrey);
}

.nav-links li button{
    text-decoration: none;
    padding: 0em 0.8em;
    font-size: 16px;
}

.sec-btn{
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--Uorange);
    border-radius: 25px;
    border: 0px solid var(--Uorange);
    box-shadow: inset 0 0 0 2px var(--Uorange);
    color: var(--Uwhite);
    transition: box-shadow 100ms, color 100ms, border-color 100ms;
}

.sec-btn:hover{
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--Uhorange);
    box-shadow: inset 0 0 0 2px var(--Uhorange);
    border-radius: 25px;
    color: #ffc7a9;
}

.pri-btn{
    background-color: var(--Uorange);
    color: var(--Uwhite);
    border-radius: 25px;
    border: 0px solid var(--Uorange);
    transition: background-color 100ms, box-shadow 100ms;
    font-weight: 500;
}

.pri-btn:hover{
    background-color: var(--Uhorange);
    border-radius: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    overflow: hidden;
}

.sidebar {
    background-color: var(--Uwhite);
    position: fixed;
    width: 350px;
    height: 100%;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
}

.sidebar h2 {
    font-size: 32px;
    margin-bottom: 24px;
}

.matters{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.matters li a{
    border: 2px solid var(--Uorange);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: var(--Ublack);
    border-radius: 5px;
}

.matters li a:hover{
    background-color: var(--Uhorange);
    color: var(--Uwhite);
}

.matters li a.active{
    background-color: var(--Uorange);
    color: var(--Uwhite);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar ul li a {
    display: inline-block;
    padding: 10px;
    color: var(--Ublack);
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 5px;
}

.sidebar ul li a:hover{
    background-color: var(--Ugrey);
    color: var(--Uwhite);
}

.sidebar ul li a.active{
    background-color: var(--Ublack);
    color: var(--Uwhite);
}

.main-content {
    background-color: var(--Uwhite);
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    padding: 30px;
    margin-left: 360px;
    border-radius: 20px;
}

.main-content h1{
    color: var(--Uorange);
    margin-bottom: 30px;
    font-size: 42px;
}

.main-content section {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--Ublack);
    border-radius: 20px;
    padding-bottom: 10px;
}

.main-content section h2 {
    font-size: 32px;
    font-family: "Cutive Mono", monospace;
    font-weight: 900;
    border-radius: 18px 18px 0px 0px;
    padding: 20px;
    border-bottom: 2px solid var(--Ublack);
    background: linear-gradient(45deg, var(--Uorange) 0%, white 100%);
    margin-bottom: 10px;
}

.main-content section p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 1.6;
}

.main-content section p a{
    color: var(--Ublack);
}

.lone-p{
    padding-bottom: 5px;
}

.imgtxt{
    display: flex;
}

.cap4img{
    background-color: var(--Ulgrey);
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption{
    display: inline-block;
    font-family: "Cutive Mono", monospace;
    text-align: center;
    color: var(--Ublack);
    padding-top: 5px;
    padding-bottom: 7px;
    line-height: 95% !important;
    font-weight: 700;
    font-size: 14px !important;
}

.img001{
    height: 288px;
    border: 1px solid var(--Ugrey);
    border-radius: 10px;
}

.img002{
    width: 200px;
    border: 1px solid var(--Ugrey);
    border-radius: 10px;
}

.cap-imple img{
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--Ublack);
}

.cap-imple{
    background-color: var(--Ulgrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 30%;
}

.gall-cont{
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.hztl-flex{
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.sec4{
    height: 45vh;
    margin-top: 100px;
    position: relative;
    left: -2.7%;
}

.wb13{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.work-bar3{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding-left: 42px;
    box-sizing: border-box;
    margin-top: -50px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: -325;
}

.wb22{
    text-decoration: none;
    color: #ff7e39;
    font-weight: 900;
    font-family: "Cutive Mono", monospace;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.cont-top{
    display: flex;
    height: 30vh;
    width: 97.28%;
}

.cont-quo{
    padding: 20px;
    border: 0.1px solid var(--Ugrey);
    border-bottom: 1.5px solid var(--Ugrey);
    border-top: 1.5px solid var(--Ugrey);
    border-left: 1.5px solid var(--Ugrey);
    min-width: 19%;
}

.cont-quo img{
    margin-left: 110px;
    height: 60px;
}

.cont-quo p{
    color: var(--Ugrey);
    text-align: end;
    font-size: 28px;
    margin: 0px;
}

.create{
    color: var(--Ublack);
    font-weight: 500;
}

.cont-img{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1px solid var(--Ugrey);
    border-bottom: 1.5px solid var(--Ugrey);
    border-top: 1.5px solid var(--Ugrey);
    width: 30%;
}

.cont-img img{
    height: 100px;
    border-radius: 200px;
    padding: 3px;
}

.cont-img p{
    color: var(--Ublack);
    text-align: center;
    text-decoration: none !important;
    margin: 10px 10px 10px 10px;
    font-weight: 600;
    font-size: 14px;
    columns: var(--Ublack);
}

.cont-links{
    width: 68%;
    height: 100%;
}

.r1{
    height: 50%;
    display: flex;
}

.c11{
    border: 0.1px solid var(--Ugrey);
    border-top: 1.5px solid var(--Ugrey);
    border-bottom: 1.5px solid var(--Ugrey);
    width: 50vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Ugrey);
}

.c11 a{
    text-decoration: none;
    color: var(--Ublack);
    font-size: 28px;
    padding-left: 5px;
}

.c11 img{
    height: 48px;
}

.c12{
    border: 0.1px solid var(--Ugrey);
    border-bottom: 1.5px solid var(--Ugrey);
    border-top: 1.5px solid var(--Ugrey);
    width: 50vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Ugrey);
}

.c12 a{
    text-decoration: none;
    color: var(--Ublack);
    font-size: 28px;
    padding-left: 7px;
}

.c12 img{
    height: 48px;
}

.c13{
    border: 0.1px solid var(--Ugrey);
    border-bottom: 1.5px solid var(--Ugrey);
    border-top: 1.5px solid var(--Ugrey);
    border-right: 0px;
    width: 50vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Ugrey);
}

.c13 a{
    text-decoration: none;
    color: var(--Ublack);
    font-size: 28px;
    padding-left: 7px;
}

.c13 img{
    height: 44px;
}

.r2{
    height: 50%;
    display: flex;
}

.c21{
    border: 0.1px solid var(--Ugrey);
    border-bottom: 1.5px solid var(--Ugrey);
    width: 50vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Ugrey);
}

.c21 a{
    text-decoration: none;
    color: var(--Ublack);
    font-size: 26px;
    padding-left: 5px;
}

.c21 img{
    height: 44px;
}

.c22{
    border: 0.1px solid var(--Ugrey);
    border-bottom: 1.5px solid var(--Ugrey);
    width: 50vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Ugrey);
}

.c22 a{
    text-decoration: none;
    color: var(--Ublack);
    font-size: 28px;
    padding-left: 5px;
}

.c22 img{
    height: 40px;
}

.c23{
    border: 0.1px solid var(--Ugrey);
    border-bottom: 1.5px solid var(--Ugrey);
    border-right: 0px;
    width: 50vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Ugrey);
}

.c23 a{
    text-decoration: none;
    color: var(--Ublack);
    font-size: 28px;
    padding-left: 5px;
}

.c23 img{
    height: 48px;
}

.cont-bot{
    display: flex;
    align-items: center;
    height: 12vh;
}

.bot-logo{
    display: flex;
    text-decoration: none;
}

.logo-txt2{
    text-decoration: none;
}

.cont-bot img{
    margin-left: 35px;
    height: 30px;
}

.cont-bot p{
    margin: 0px;
    margin-left: 10px;
    font-family: "Righteous",sans-serif;
    font-size: 20px;
    color: var(--Uorange);
}

.sick img{
    height: 24px;
    margin-left: 10px;
    margin-bottom: 6px;
}

.foot-link{
    position: relative;
    right: -39%;
}

.foot-link a{
    text-decoration: none;
    font-weight: 300;
    color: var(--Ugrey);
    margin-left: 40px;
    font-size: 15px;
}

.foot-link a img{
    width: 16px;
    margin: 0px;
    margin-left: 4px;
    margin-bottom: -8px;
}

.hardes{
    color: var(--Ublack);
    font-weight: 500;
}